{
     "machine": {
        "gpu": 1,
        "ram": 8000,
        "cpu": 1000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {},
            "EngineSpec": {
                "Params": {
                "Entrypoint": null,
                "EnvironmentVariables": [
                    {{if .inputCid}}{{.inputCid}}{{else}}"CID=QmaDxKbSz91R1nQS9jDNEQ9akyLKHsMouWADrxdJX2ytsZ"{{end}},
                    "INPUT_DIR=/input",
                    "OUTPUT_DIR=/outputs"
                ],
                "Image": "yfantisa/df:latest@sha256:cc3d34ccb413e326ce0cd238ecc6e627dcdc04bed68b0eaa3286c598848f4434",
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
            "Network": {
                "Type": "None"
            },
            "inputs": [
                {
                    "CID": {{.inputCid}},
                    "Name": "input_videos",
                    "StorageSource": "IPFS",
                    "path": "/input"
                }
            ],
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}