{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {},
            "EngineSpec": {
                "Params": {
                "Entrypoint": ["./predict_submission.sh /input /outputs/submission.csv"],
                "EnvironmentVariables": [
                    {{if .inputCid}}{{.inputCid}}{{else}}"CID=QmaDxKbSz91R1nQS9jDNEQ9akyLKHsMouWADrxdJX2ytsZ"{{end}},
                    "INPUT_DIR=/input/",
                    "OUTPUT_DIR=/outputs/"
                ],
                "Image": "yfantisa/deepfake:latest@sha256:0d343cdd0224122bb2c6b31426ea04bbf5eff71a488ba2c281ee68cc8551a957",
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
            "Network": {
                "Type": "None"
            },
            "inputs": [
                {
                    "CID": {{.inputCid}},
                    "Name": "input_videos",
                    "StorageSource": "IPFS",
                    "path": "/input"
                }
            ],
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}